<label class="d-block">
	<div>{{$ctrl.label}}</div>
	<div class="input-group mb-3">
	  	<input 
	  		type="text"
	  		class="my-input__input form-control"
	  		ng-model="$ctrl.ngModel"
	  		ng-change="$ctrl.ngChange()"
	  		ng-class="{
	  			'my-input__invalid': $ctrl.ngInvalid
	  		}"
	  	/>
	</div>
</label>