<div ng-if="$ctrl.step === 'one'">
	<div>
		<my-input
			label="Имя*"
			ng-model="$ctrl.form.fullname"
			ng-change="$ctrl.update()"
			ng-invalid="$ctrl.invalids.fullname"
		></my-input>
		<my-input
			label="Возраст"
			ng-model="$ctrl.form.age"
			ng-change="$ctrl.update()"
			ng-invalid="$ctrl.invalids.age"
		></my-input>
		<my-radio
			label="Пол*"
			ng-model="$ctrl.form.sex"
			ng-change="$ctrl.update()"
			ng-invalid="$ctrl.invalids.sex"
			name="sex"
			values="[
				{label: 'муж.', value: 'women'},
				{label: 'жен.', value: 'man'}
			]"
		></my-radio>
		<div class="clearfix">
			<button 
				type="button" 
				class="btn btn-success pl-4 pr-4 mr-2 left-right"
				ng-click="$ctrl.reset()"
			>Сбросить</button>
			<button 
				type="button" 
				class="btn btn-success pl-4 pr-4 float-right"
				ng-click="$ctrl.next()"
				ng-disabled="$ctrl.hasInvalid"
			>Далее</button>	
		</div>
	</div>
</div>
<div ng-if="$ctrl.step === 'two'">
	<div>
		<my-input
			label="Телефон*"
			ng-model="$ctrl.form.phone"
			ng-change="$ctrl.update()"
			ng-invalid="$ctrl.invalids.phone"
		></my-input>
		<my-input
			label="Email*"
			ng-model="$ctrl.form.email"
			ng-change="$ctrl.update()"
			ng-invalid="$ctrl.invalids.email"
		></my-input>
		<div class="clearfix">
			<button 
				type="button" 
				class="btn btn-success pl-4 pr-4 mr-2 float-left"
				ng-click="$ctrl.next(-1)"
			>Назад</button>
			<button 
				type="button" 
				class="btn btn-success pl-4 pr-4 mr-2 float-left"
				ng-click="$ctrl.reset()"
			>Сбросить</button>
			<button 
				type="button" 
				class="btn btn-success pl-4 pr-4 float-right"
				ng-disabled="$ctrl.hasInvalid"
			>Далее</button>
		</div>
	</div>
</div>
