<div class="form">
	<div class="form__inner">
		<div class="form__container">
			<my-stepper
				steps="$ctrl.steps"
			></my-stepper>
			<ui-view class="form__body"></ui-view>
		</div>
	</div>
</div>