.form {
	display: table;
	width: 100%;
	height: 100vh;
	background-color: #EEE;

	&__inner {
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
	}

	&__container {
		width: 600px;
		margin: auto;
		border: solid 1px #CCC;
	}

	&__body {
		padding: 10px;
		background-color: #FFF;
		display: block;
	}

}