
.my-stepper {
	background-color: #EEE;
	padding: 15px;

	&__inner {
		border-radius: 1px;
		background-color: #FFF;
		box-shadow: 1px 2px 3px #CCC;
		display: table;
		width: 100%;
		height: 50px;
		&>* {
			display: table-cell;
			vertical-align: middle;
			padding: 0px 50px;
		}
	}

	&__header {
		display: block;
		position: relative;
	}

	&__ball {
		position: absolute;
		top: 0px;
		&__inner {
			position: absolute;
			top: -8px;
			left: -8px;
			height: 16px;
			width: 16px;
			border-radius: 100%;
			overflow: hidden;
			background-color: #BBB;
			color: #FFF;
			display: table;
			transition-duration: 0.5s;
			&>* {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&_active &__inner {
			transition-delay: 0.5s;
			background-color: #00b450;
		}
	}

	&__line {
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: 0px;
		right: 0px;
		background-color: #BBB;
		&__inner {
			transition-duration: 0.5s;
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			background-color: #00b450;
			border-radius: 3px;
		}
	}

	&__ball-label {
		text-align: center;
		font-size: 12px;
		line-height: 1;
		position: relative;
		top: 1px;
	}
	&__check {
		font-size: 10px;
	}

	&__ball-legend {
		transition-duration: 0.5s;
		position: absolute;
		bottom: 100%;
		padding-bottom: 10px;
		left: 0px;
		font-size: 12px;
		line-height: 1;
		color: #888;
		white-space: nowrap;
		transform: translate(-50%, 0px);
	}

	&__ball_active &__ball-legend{
		color: #000;
	}
}