<div class="my-stepper">
	<div class="my-stepper__inner">
		<div>
			<div class="my-stepper__header">
				<div class="my-stepper__line">
					<div 
						class="my-stepper__line__inner"
						ng-style="{
							right: '' + (100 - percent()) + '%'
						}"
					></div>
				</div>
				<div 
					class="my-stepper__ball"
					ng-class="{
						'my-stepper__ball_active': step.active
					}"
					ng-repeat="step in steps track by $index"
					ng-style="{
						left: '' + position($index) + '%'
					}"
				>
					<div class="my-stepper__ball__inner">

						<div>
							<div class="my-stepper__ball-label">
								<i ng-if="step.valid" class="fas fa-check my-stepper__check"></i>
								<span ng-if="!step.valid">{{$index + 1}}</span>
							</div>
						</div>
					</div>
					<div class="my-stepper__ball-legend">{{step.label}}</div>
				</div>
			</div>
		</div>
	</div>
</div>