<div class="mb-3">
	<div class="mb-1">{{$ctrl.label}}</div>
	<div
		class="clearfix my-radio__input"
		ng-class="{
  			'my-radio__invalid': $ctrl.ngInvalid
  		}"
	>
		<div 
			class="float-left mx-2 mb-2 mt-2"
			ng-repeat="item in $ctrl.values track by $index"
		>
		  	<label class="tbl mb-0">
		  		<div>
			  		<input 
			  			class="mr-2 d-block"
				  		type="radio" 
				  		name="{{$ctrl.name}}" 
				  		value="{{item.value}}"
				  		ng-model="$ctrl.ngModel"
				  		ng-change="$ctrl.ngChange()"
			  		/>
			  	</div>
		    	<div>{{item.label}}</div>
		  	</label>
		</div>
	</div>
</div>