* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -icab-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	overflow-x: hidden;
	font-size: 14px;
}


.tbl{
	display: table;
	&>*{
		display: table-cell;
		vertical-align: middle;
	}
}